<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nav_column</key>
	<string>nav_back</string>
	<key>nav_shadow</key>
	<string>index_nav_shadow</string>
	<key>nav_bg</key>
	<string>index_nav_bg</string>
</dict>
</plist>
