<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>business</string>
	<key>nav_back</key>
	<string>nav_back</string>
	<key>nav_fav</key>
	<string>article_nav_fav</string>
	<key>nav_faved</key>
	<string>article_nav_faved</string>
	<key>nav_font_size</key>
	<string>article_nav_font_size</string>
	<key>nav_share</key>
	<string>article_nav_share</string>
	<key>nav_bg</key>
	<string>index_nav_bg</string>
	<key>placeholder</key>
	<string>article_webview_bg</string>
	<key>has_user</key>
	<integer>1</integer>
</dict>
</plist>
