<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>type</key>
	<string>business</string>
	<key>column_bg</key>
	<string>#181818</string>
	<key>logo</key>
	<string>column_logo</string>
	<key>logo_size</key>
	<string>552,156</string>
	<key>item_bg</key>
	<string>#222222</string>
	<key>item_bg_select</key>
	<string>#000000</string>
	<key>show_color</key>
	<integer>1</integer>
	<key>show_margin</key>
	<integer>1</integer>
	<key>about</key>
	<string>about_bg</string>
	<key>recommend</key>
	<string>http://www.bbwc.cn/install/honored_android/index2.html</string>
</dict>
</plist>
