<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>is_index_pager</key>
	<integer>1</integer>
	<key>has_qq</key>
	<integer>0</integer>
	<key>has_sina</key>
	<integer>1</integer>
	<key>has_coin</key>
	<integer>0</integer>
	<key>flurry_api_key</key>
	<string>KHSTGVVGP7422NSW4TM4</string>
	<key>parse_app_id</key>
	<string>GrmqBvHVN9OBwpcgRXz9uKSxFGPOrT0QN46D8kpS</string>
	<key>parse_client_id</key>
	<string>ITaYiCxWDBjcBxFYLceiwnlyzTFgmilT0WE82L8s</string>
	<key>weixin_app_id</key>
	<string>wxed927ff07e32ea71</string>
	<key>weixin_app_id_google</key>
	<string>wxf697f48aefe1d229</string>
	<key>weibo_app_id</key>
	<string>3735038</string>
	<key>weibo_app_id_goole</key>
	<string>2994328520</string>
	<key>qq_app_id</key>
	<string>222222</string>
	<key>cache_file_name</key>
	<string>BussinessWeek</string>
	<key>has_subscribe</key>
	<integer>0</integer>
	<key>template_version</key>
	<integer>1</integer>
</dict>
</plist>
