<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.com.modernmedia.businessweek"
    android:versionCode="11"
    android:versionName="1.6.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="cn.com.modernmedia.businessweek.MyApplication"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".SplashScreenActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.DefaultModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.RecommendUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.UserCardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.CardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.MyHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.WriteCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="cn.com.modernmediausermodel.WriteNewCardActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.modernmedia.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="http" />
                <data
                    android:mimeType="audio/*"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="CHANNEL_FLAG" >
        </meta-data>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PERMISSION_NAME" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

</manifest>