<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.modernmedia.businessweek"
    android:versionCode="42"
    android:versionName="3.3.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.PERMISSION_NAME" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 二维码 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="cn.com.modernmedia.businessweek.MyApplication"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        tools:ignore="HardcodedDebugMode" >
        <activity
            android:name="cn.com.modernmedia.businessweek.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="slate" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="cn.com.modernmedia.businessweek.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data android:scheme="slate" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.modernmedia.views.ArticleActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <data android:scheme="slate" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.modernmedia.views.PushArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmedia.views.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmedia.views.SelectColumnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmedia.views.SelectChildColumnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmedia.views.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.LoginActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.modernmediausermodel.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmedia.CommonAdvActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.ModifyPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.RecommendUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.UserCardInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.SquareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.CardDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.UserCenterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.MyHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.MessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.WriteCommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="cn.com.modernmediausermodel.WriteNewCardActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.com.modernmedia.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="cn.com.modernmediausermodel.MyCoinUseNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.MyCoinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.ModifyEmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="cn.com.modernmediausermodel.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.BandDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.ForgetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.com.modernmediausermodel.ArticleCardListActivity"
            android:screenOrientation="portrait" />

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="xiaomi" >
        </meta-data>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1104758116" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 支付宝支付相关 -->
        <activity
            android:name="cn.com.modernmedia.pay.PayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <!-- 启动支付页面Receiver -->
        <receiver android:name="cn.com.modernmediausermodel.BroadcastReceiver.PayToLoginReceiver" >
            <intent-filter>
                <action android:name="cn.com.modernmediausermodel.LoginActivity" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.com.modernmedia.views.column.book.BookActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.com.modernmedia.views.column.book.BookColumnActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="cn.com.modernmedia.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>